@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@300;500&display=swap');

html {
    overflow: scroll;
    scroll-behavior: smooth; /* défilement doux quand on appuie sur un bouton de la navbar, obligé le l'appliquer sur tout le html */
}

body {
    background-color: #ccc;
    margin: 0;
}

nav {
    background: url("../assets/img/banniere_portfolio_accueil.jpg") 70%;
    font-family: Josephin, sans-serif;
    position: sticky;
    top: 0;
    border-bottom: rgb(0, 183, 255) solid 3px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    z-index: 1;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: Josephin, sans-serif;
}

p {
    font-family: Poppins, sans-serif;
    font-size: 1em;
    text-align: justify; 
}

nav h1 {
    
    margin: 0 0 0 20px;
    color: #fff;
    margin-left: 15%;
    cursor: pointer;
}

nav h1 a {
    display: block;
    color: #fff;
    padding: 11px 15px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-right: 20%;
}

nav ul li {
    color: #fff;
    text-align: center;
    border-left: rgb(255, 255, 255,0) solid 1px;
    border-right: rgba(255, 255, 255, 0) solid 1px;
    transition: 0.3s;
}

nav ul li a {
    color: #fff;
    display: block;
    padding: 16px 20px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: black;
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
    transition: 0.3s;
}

.corps_accueil {
    width: 1000px;
    margin: auto;
    padding: -53;
    /* background-color: #fff; */
}

.corps_accueil header h1 {
    font-size: 5vw;
    margin-top: 2%;
    margin-bottom: 4%;
}

header p {
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
    text-align: justify;
}

.zone {
    padding-top: 53px;
    height: 90vh;     /* vh=Viewport Height, défini la hauteur de la vue, ici pour descendre de volet en volet */
}

h2 {
    font-size: 3.5vw;
    margin: 0;
}

.ancien_parcours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
}

.zone div .gallery_ex_emploi {
    background-color: #fff;
    margin: 5px;
    border: 2px solid #ccc;
    width: 300px;
    height: 556px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075);
    border-radius: 4em;
    opacity: 0.6;
    transition: 0.3s;
    z-index: 0;
}

.zone .gallery_ex_emploi:hover {
    cursor: default;
    border: 2px solid rgb(203, 72, 57);
    opacity: 1;
}

.zone div .gallery_ex_emploi img {
    width: 300px;
    height: 100px;
    margin: 0;
    border-radius: 4em 4em 0 0;
    border-bottom: 2px solid #fff;
}

.zone div .gallery_ex_emploi .description {
    padding: 8px;
    text-align: justify;
    margin: 0;
}

